asgiref==3.8.1
blessed==1.20.0
cement==2.10.14
certifi==2025.4.26
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==43.0.0
cssselect==1.2.0
defusedxml==0.7.1
download==0.3.5
exceptiongroup==1.2.2
idna==3.7
importlib_metadata==8.0.0
iniconfig==2.0.0
jmespath==1.0.1
lxml==5.2.2
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pathspec==0.10.1
pillow==10.4.0
pluggy==1.5.0
psycopg2-binary==2.9.10
pyquery==2.0.0
pytest==8.3.1
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
pyxml2pdf==0.3.4
PyYAML==6.0.2
reportlab==4.2.2
requests==2.32.3
roman==4.2
semantic-version==2.10.0
setuptools==71.1.0
six==1.16.0
sqlparse==0.5.1
tabula==1.0.5
termcolor==2.5.0
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==1.26.20
wcwidth==0.2.13
whitenoise==6.9.0
zipp==3.19.2
